<?xml version="1.0" encoding="utf-8"?>

<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <Import Project="$(MSBuildThisFileDirectory)Publish.Project.pubxml" />
  <Import Project="$(MSBuildThisFileDirectory)..\..\..\..\Publish.Common.pubxml" />
  <PropertyGroup>
    <PublishDir>..\..\publish\linux-arm64\CodeWF.Toolbox\</PublishDir>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>
