<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Theme" value="" />
		<add key="Language" value="" />
		<add key="AutoOpenToolboxAtStartup" value="false" />
		<add key="HideTrayIconOnClose" value="true" />
		<add key="NeedExitDialogOnClose" value="true" />
		<add key="LoginUsername" value="CodeWF" />
		<add key="LoginPasswordHash" value="37b9587481f58ad8681396d6fae12744" />
	</appSettings>
</configuration>
